<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SesiLogin">

        <!-- SplashActivity: Halaman pertama yang muncul saat aplikasi dibuka (Launcher) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LoginActivity: Halaman masuk/login -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <!-- DashboardActivity: Halaman utama setelah berhasil masuk -->
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />

        <!-- GantiSandiActivity: Halaman untuk mengganti kata sandi -->
        <activity
            android:name=".GantiSandiActivity"
            android:exported="false" />

    </application>

</manifest>